.login-container {
  background: linear-gradient(135deg, #2c1f1f, #d17800);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.glass-card button {
  padding: 10px 20px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.glass-card button:hover {
  background-color: #e76a00;
}

.error {
  color: #ffbaba;
  background-color: #ff4d4d;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Butonlar arası boşluk */
  margin-top: 10px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.textarea {
  font-family: inherit;
  line-height: 1.5;
}

.turuncu-btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s;
}

.turuncu-btn:hover {
  background-color: darkorange;
}
